@{
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
    ViewData["Title"] = "Sign Up";

}
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Create an account</h3>
		      	<form method="post" asp-action="SignUp" asp-controller="Account" class="signin-form" id="register-form">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="xxx@gmail.com" required>
                    </div>
		      		<div class="form-group">
		      			<input type="text" name="username" class="form-control" placeholder="Username" required>
		      		</div>
                    <div class="form-group">
                        <input id="password-field" name="password" type="password" class="form-control" placeholder="Password" required>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="wantToSignIn" id= "wantToSignIn" value="false" />
		      		</div>
	          </form>
                <a href="#" id="SignInButton">
                    <p class="w-100 text-center text-white">&mdash; Already have an account? Sign In &mdash;</p>
                </a>
                @* <div class="social d-flex text-center">
                    <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                    <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                </div> *@
			</div>
		</div>
	</section>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
@if (TempData["Sign up success"] != null) {
    <p style="color:green">@TempData["Sign up success"]</p>
}

<script>
    document.getElementById('SignInButton').addEventListener('click', function (e) {
        e.preventDefault();

        document.getElementById('wantToSignIn').value = "true";
        document.getElementById('register-form').submit();
    })
</script>
